html, body {
    height: 100%;
    width: 100%;
	font-family: sans-serif;
	color: white;
}

.container { 
	background-color: #9bc8f3cc ;
	width : 425px;
	margin: auto;
	padding : 10px;
	border-radius : 10px; 
}

.contianer h1,h2{
	text-align : center;
	background-color : #0090ff;
	padding : 10px;
	border-radius : 10px; 
}

.container h3{
	text-align:center
}

#game{
	display : grid;
	grid-template-columns : 1fr 1fr 1fr 1fr;
}

.card{ 
	width : 100px;
	height : 100px;
	background-color : white;
	margin : 3px;
}

#timer{
	color : #088a8c;
}


#reset-btn {
    background-color: #088a8c; /* Green */
    color: white;
    padding : 16px 32px;
    text-align : center;
    display : inline-block;   
    margin-top : 20px;
	margin-bottom: 10px;
	margin-left: 40%;
	border-radius : 10px;
}
