html, body {
  height: 100%;
  width: 100%;
}

.container { background-color: #9bc8f3cc ;
}

button { padding: 5px 5px;
				 width : 100px;
				 background-color : white;
				 border-color :  black
				 border : 5px;
				 margin : 5px
				 
}



